/* Bulmaじゃ手が届かない場合ここで書く */
#question-form-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  background: none;
  border: none;
  color: rgb(63, 135, 194);
  cursor: pointer;
}
.relative {
  position: relative;
}

.question-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  height: fit-content;
  width: 90%;
}
.question-modal form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.ask-table {
  width: 100%;
}
.ask-table thead {
  text-align: center;
}

.ask-header {
  background: rgb(76, 211, 76);
  padding: 1rem;
}
.ask-header h1 {
  font-weight: heavy;
  font-size: 3rem;
  color: white;
}
.ask-header ul {
  color: white;
  display: flex;
  gap: 2rem;
  list-style: none;
}

.ask-modal-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.w-full{ 
  width:100%;
}

.align-center{
  align-items: center;
}

.fit-content{
  width: fit-content
}

.flex-column {
  flex-flow:column;
}

.header {
  background: rgb(115, 150, 207);
  padding: 1rem;
  color: white;
}

.header h1 {
  font-weight: bold;
  font-size: 2rem;
}

.header ul {
  display: flex;
  gap: 1rem;
}

.header a {
  color: white;
}

.header p:hover {
  color: black;
}

.lab-header {
  margin-bottom: 2rem;
  text-align: right;
}

.lab-space {
  height: min(80vw, 80vh);
  width: min(80vw, 80vh);
  background: whitesmoke;
  position: relative;
}

.lab-avatar {
  width: 64px;
  height: 64px;
  position: absolute;
  background: gray;
  border-radius: 50%;
}

.layout-container {
  margin: 2rem;
}

.schedule-form {
  border-bottom:0.125rem rgb(215, 215, 221) solid;
}